body{
    font-family: Roboto;
    background-color: #EEEEEE;
    box-sizing: border-box;
    position:relative;
}
header {    
    background-color: #D0322A;
    height:92px;  
    margin-bottom: 15px; 
    position: fixed;
    top:0;
    left:0;
    right: 0;     
}

.driveneats {
    font-family:Righteous;
    font-size: 44px;
    color: #FFFFFF;
    font-weight: 400;
    padding-left: 14px;
    padding-top: 15px;    
}

.subtitulo {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 14px;
}

.conteudo{
    margin-top:92px;
    margin-bottom:108px;
}

.comida{
    margin-left:19px;
    margin-top:11px;
}


.comida_somente{    
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}


.titulo_sessao {
    font-family: Righteous;
    font-weight: 400;
    font-style: normal;
    font-size:26px;
    padding: 16px 0;
    
}

.food_option{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 216px;
    width:172px;
    background-color: #FFF; 
    border-radius: 9px;
    margin-right: 16px;
}

.imagem_texto{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width:144px;
    height: 185px;
    font-family: Roboto;
    margin: 14px 18px;
    background-color: #FFF;
}

.food_option img{
    width: 144px;
    height: 87px;     
}

.titulo_produto{
    font-weight: 700;
    font-style: normal;
    font-size:16px;
}

.decricao_produto{
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.preco_produto{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;    
}

.footer-fora{
    background-color: #fff;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:0;
    left:0;
    right: 0;

}

.footer-dentro{

    background-color: #CBCBCB;
    height: 61px;
    width: 88%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    font-size:20px;
    color:#FFFFFF
    }
   
